<div class="pet_index">
  <% @pets.each do |pet| %>
    <div>
      <div class="img">
        <%= image_tag pet.photo.thumb.url %>
      </div>

      <div class="content">
        <%= link_to "#{pet.name}", pet_path(pet) %>
        <p>
          <%= pet.description %>
        </p>
      </div>
    </div>
  <% end %>
</div>